*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: $font-family;
    font-size: $base-font-size;
    color: $white;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.main {
    padding-top: 100px;
}

h1 {
    font-size: 48px;
    line-height: 52px;
    color: $white;
    margin: 0 0 8px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    color: $white;
    font-family: $font-family-title;
    margin: 0 0 24px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    color: $white;
    margin: 0 0 16px;
    text-transform: uppercase;
}

p {
    margin: 0 0 32px;
}

a {
    text-decoration: none;
    color: $white;
}

.btn {
    display: inline-block;
    color: $white;
    background-color: $blue;
    padding: 20px;
    width: 100%;
    max-width: 213px;
    position: relative;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    span {
        position: relative;
        z-index: 2;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 150%;
        left: 0;
        background-color: $dark-blue;
        z-index: 1;
        transform: translateX(-70%) skewX(45deg);
        transition: all ease-in-out 0.4s;

        &:hover {
            transform: translateX(-20%) skewX(45deg);
        }
    }
}

.btn-search {
    display: inline-block;
    padding: 16px 24px;
    width: 139px;
    height: 52px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    background-color: $blue;
    border: none;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: opacity ease-in-out 0.3s;

    &:hover {
        opacity: 0.7;
    }
}