$white: #fff;
$black: #000;
$grey: #999999;
$dark-grey:#333333;
$blue: #5373FD;
$dark-blue:#486BFE;
$red:#FF6363;
$light-blue:#00A2FF;

$base-font-size: 16px;

$font-family-title: 'aleo';
$font-family: 'roboto';